menu "STM Hal"

config MICROPYTHON_STMHAL_MCU_SERIES_STM32F4
       bool
config MICROPYTHON_STMHAL_MCU_SERIES_STM32F7
       bool

config MICROPYTHON_STMHAL_CMSIS_MCU_STM32F401XE
       bool
config MICROPYTHON_STMHAL_CMSIS_MCU_STM32F405XX
       bool
config MICROPYTHON_STMHAL_CMSIS_MCU_STM32F407XX
       bool
config MICROPYTHON_STMHAL_CMSIS_MCU_STM32F411XE
       bool
config MICROPYTHON_STMHAL_CMSIS_MCU_STM32F746XX
       bool


config MICROPYTHON_STMHAL_MCU_SERIES
	string
	default "f4"       if MICROPYTHON_STMHAL_MCU_SERIES_STM32F4
	default "f7"	   if MICROPYTHON_STMHAL_MCU_SERIES_STM32F7


config MICROPYTHON_STMHAL_CMSIS_MCU
	string
	default "STM32F401xE"  if MICROPYTHON_STMHAL_CMSIS_MCU_STM32F401XE
	default "STM32F405xx"  if MICROPYTHON_STMHAL_CMSIS_MCU_STM32F405XX
	default "STM32F407xx"  if MICROPYTHON_STMHAL_CMSIS_MCU_STM32F407XX
	default "STM32F411xE"  if MICROPYTHON_STMHAL_CMSIS_MCU_STM32F411XE
	default "STM32F746xx"  if MICROPYTHON_STMHAL_CMSIS_MCU_STM32F746XX

choice
	prompt "Select STM32F Board"
	default MICROPYTHON_STMHAL_BOARD_STM32F4DISC
	config MICROPYTHON_STMHAL_BOARD_STM32F4DISC
	       bool "STM32F4 Discovery board"
	config MICROPYTHON_STMHAL_BOARD_STM32F411DISC
	       bool "STM32F411 Discovery board"
endchoice

# Micropython defaults common for all boards
config MICROPYTHON_STMHAL
       bool
       select MICROPYTHON_READLINE
       select MICROPYTHON_FATFS
       select MICROPYTHON_LIBC
       select MICROPYTHON_LIBM
       select MICROPYTHON_NETUTILS
       select MICROPYTHON_TIMEUTILS
       select MICROPYTHON_UTILS
       default y

# board specific Kconfig selects defaults for each board
source "$MICROPYTHON_STMHAL_DIR/boards/STM32F4DISC/Kconfig"
source "$MICROPYTHON_STMHAL_DIR/boards/STM32F411DISC/Kconfig"
endmenu
